<!DOCTYPE html>
<html>
  <head>
    <style type="text/css"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>

    <script src="js/integrador.js"></script>
    <script src="js/MercadoPagoHibrido.js"></script>

  </head>

  <body ng-app="integrador">

    <ion-nav-bar class='MpBarra bar-positive '  >
     <ion-nav-back-button class="button-clear">
      <i class="ion-ios-arrow-back carrito"></i>
    </ion-nav-back-button>
    <ion-nav-buttons side='right'><i class='ion-ios-cart-outline carrito' style='padding: 5px' ng-click='MpShowPrefId()'></i></ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>
    <script type="text/ng-template" id="mercadopago.html">
        <ion-view compile-html="HTML" title='{{header}}'></ion-view>
    </script>

    <script type="text/ng-template" id="integrador.html">

      <ion-view title="{{header}}" class"header" cache-view="false">
        <ion-nav-bar class='bar-positive'><ion-nav-title>{{header}}</ion-nav-title></ion-nav-bar>
        <ion-content style=" background-color:rgb(244,244,244)">
          <button class="button button-full button-positive" ng-click="startPaymentVault()">Componentes Completo</button><br>
          <button class="button button-full button-positive" ng-click="startCardWithoutInstallments()">Cobra con tarjeta</button>
          <button class="button button-full button-positive" ng-click="startCardWithInstallments()">Cobra con tarjeta con cuotas</button><br>
          <button class="button button-full button-positive" ng-click="startPaymentMethod()">Medios de pago</button>
          <button class="button button-full button-positive" ng-click="startIssuers()">Bancos</button>
          <button class="button button-full button-positive" ng-click="startInstallments()">Cuotas</button>
          <button class="button button-full button-positive" ng-click="startBankDeals()">Promociones</button><br>
          <button class="button button-full button-positive" ng-click="startInstructions()">Resultado de pago en efectivo</button>
          <button class="button button-full button-positive" ng-click="startCongrats()">Resultado de pago con tarjeta</button><br>
          <button class="button button-full button-positive MercadoPago" ng-click="f3()">Nuestro checkout</button><br>

        </ion-content>
      </ion-view>
    </script>

</body>
</html>
