<!DOCTYPE html>
<html>
  <head>
    <style type="text/css"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>

    <script src="js/integrador.js"></script>
    <script src="js/MercadoPagoHibrido.js"></script>

  </head>

  <body ng-app="integrador">

    <ion-nav-bar class='MpBarra bar-positive '  >
     <ion-nav-back-button class="button-clear">
      <i class="ion-ios-arrow-back carrito"></i>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <i class="ion-ios-cart-outline carrito" style="padding: 5px" ng-click="MpShowPrefId()"></i>
    </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script type="text/ng-template" id="integrador.html">

      <ion-view title="{{header}}" class"header" cache-view="false">
<ion-nav-bar class='bar-positive'><ion-nav-title>{{header}}</ion-nav-title><ion-nav-buttons side='right'><i class='ion-ios-cart-outline carrito' style='padding: 5px' ng-click='MpShowPrefId()'></i></ion-nav-buttons><ion-nav-back-button class='button-clear' ng-show='no'><i class='ion-ios-arrow-back carrito'></i></ion-nav-back-button></ion-nav-bar>
        <ion-content style=" background-color:rgb(244,244,244)">
          <button class="button button-full button-positive MercadoPago" ng-click="f3()">F3</button><br>
          <button class="button button-full button-positive" ng-click="f2()">F2</button><br>
          <button class="button button-full button-positive" ng-click="pagar()">Pagar F1</button><br>
          <button class="button button-full button-positive" ng-click="grupos()">Grupos</button><br>
          <button class="button button-full button-positive" ng-click="ryc()">Ryc</button><br>
          <button class="button button-full button-positive" ng-click="ins()">Instrucciones</button><br>
          <button class="button button-full button-positive" ng-click="con()">Congrats</button><br>

        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="mercadopago.html">

        <ion-view compile-html="HTML" title='{{header}}'>
        </ion-view>
          <!-- <ion-nav-buttons side='right'><i class='ion-ios-cart-outline carrito' style='padding: 5px' ng-click='mos()'></i></ion-nav-buttons> -->
    </script>

    <script type="text/ng-template" id="payment_methods.html">
		<ion-view title="Selecciona el medio de pago">
		<ion-content class="has-header" animation="slide-left-right" scroll="true" has-bouncing="true">
			<div class="list">
			<div class="item" ng-repeat="paymentMethod in paymentMethods" ng-click="selectedPaymentMethod(paymentMethod)">
				<img src="{{paymentMethod.thumbnail}}" width="29" height="19" style="margin-right: 20px;">{{paymentMethod.name}}
				</div>
		</div>
		</ion-content>
		</ion-view>
		</script>

	<script type="text/ng-template" id="card_issuers.html">
		<ion-view title="Selecciona el banco">
		<ion-content class="has-header" animation="slide-left-right"  scroll="true" has-bouncing="true">
		<div class="list">
		<div class="item" ng-repeat="cardIssuer in cardIssuers" ng-click="selectedCardIssuer(cardIssuer)">
		<img src="{{cardIssuer.thumbnail}}" width="50" height="19" style="margin-right: 20px;">{{cardIssuer.name}}
		</div>
		</div>
		</ion-content>
		</ion-view>
	</script>


	<script type="text/ng-template" id="installments.html">
		<ion-view title="Selecciona las cuotas">
		<ion-content class="has-header" animation="slide-left-right" scroll="true" has-bouncing="true">
		<div class="list">
		<div class="item" ng-repeat="installment in installments" ng-click="selectedInstallment(installment)">{{installment.recommended_message}}
		</div>
		</div>
		</ion-content>
		</ion-view>
	</script>


	<script type="text/ng-template" id="card_form.html">
		<ion-view title="Datos de tu tarjeta">
		<ion-content class="has-header" animation="slide-left-right" padding="true" scroll='true' has-bouncing="true">
		<form ng-submit="createToken()" ng-controller="CardFormCtrl" >
		<div class="list">

      <label class="item item-input">
      <span class="input-label">Cardholder Name</span>
      <input type="text" id="cardholderName" ng-model="card_token.cardholder.name" placeholder="APRO">
      </label>
		<label class="item item-input">
		<span class="input-label">Card Number</span>
		<input type="number" id="cardNumber" ng-model="card_token.cardNumber" placeholder="4509 9535 6623 3704">
		</label>

		<label class="item item-input">
		<span class="input-label">Expiration Month</span>
		<input type="number" id="cardExpirationMonth" ng-model="card_token.expirationMonth" placeholder="MM">
		</label>
		<label class="item item-input">
		<span class="input-label">Expiration Year</span>
		<input type="number" id="cardExpirationYear" ng-model="card_token.expirationYear" placeholder="AAAA">
		</label>
		<label class="item item-input item-select">
		<div class="input-label">Document Type</div>
		<select id="docType" ng-model="card_token.cardholder.identification.type" ng-options=" identification_type.name for identification_type in identification_types">
      <option value="">Seleccionar</option>
		</select>
		</label>
		<label class="item item-input">
		<span class="input-label">Document Number</span>
		<input type="number" id="docNumber" ng-model="card_token.cardholder.identification.number" placeholder="12345678">
		</label>
		<label class="item item-input">
		<span class="input-label">Security Code</span>
		<input type="number" id="securityCode" ng-model="card_token.securityCode" placeholder="123">
		</label>
		<button type="submit" class="button button-full button-balanced">
		Pagar
		</button>
		</div>
		</form>
		</ion-content>
		</ion-view>
		</script>

	<script type="text/ng-template" id="payment_result.html">
		<ion-view title="{{title}}" >
		<ion-content class="has-header" animation="slide-left-right" padding="true" scroll="true" has-bouncing="true" ng-style="{'text-align':'center', 'background-color': background_color}">
		<br />
		<br />
		<i class="{{icon}}" style="color: white; font-size: 150px;"></i>
		<br />
		<br />
		<br />
		<span style="margin-top: 40px; color: white; font-size: 30px;">{{message}}</span>
		<br />
		<br />
		<br />
		<button type="submit" ng-click="close()" ng-style="{'background-color': background_color}" class="button button-full">Salir</button>
		</ion-content>
		</ion-view>
		</script>

    <!-- <script type="text/ng-template" id="mercadopago.html">
    <!-- <ion-view title='{{header}}'><ion-content style='background-color:rgb(244,244,244)'>

    <ion-view compile-html="codigo"></ion-view>
    <!--  <ion-view title="{{header}}">
    <ion-content style=" background-color:rgb(244,244,244)">
    <div  ng-show="mostrar==true"class=" item-thumbnail-left header"style="height: 80pt; background-color:rgb(90,190,231); word-wrap:break-word!important;line-height: 20pt">
    {{titulo}}
    <img ng-src="{{imagen}}">
    <br>
    {{total() | currency}}

  </div>

  <div class="list list-inset" style=" margin:20px 0px 0px 0px">
  <div  id= "l"class="item item-icon-left item-icon-right opciones" ng-repeat="grupo in grupos" ng-click="selectedGrupo(grupo)">
  <i class=" icon {{grupo.icon}} custom-icon"></i>
  {{grupo.description}}
  <i class="icon ion-ios-arrow-right flecha"></i>
</div>
</div>
<br>
<footer></footer>
</ion-content></ion-view>
</script> -->



<!-- <script type="text/ng-template" id="vip3.html">
  <ion-view title="{{header}}">
    <ion-content style=" background-color:rgb(244,244,244)">

      <div ng-show="mostrar==true"class=" item-thumbnail-left header"style="height: 80pt; background-color:rgb(90,190,231); word-wrap:break-word!important;line-height: 20pt">
        {{titulo}}
        <img ng-src="{{imagen}}">
        <br>
        {{total() | currency}}

      </div>

      <div class="list list-inset" style=" margin:20px 0px 0px 0px">
        <div  id= "l"class="item item-icon-right" ng-repeat="grupo in grupos" ng-click="elegir(grupo)" style="padding: 10px">
          <div style="padding: 0px 0px 0px 0px; margin:0px 0px -15px 0px" class="opciones" >
            <img id= 'im' ng-src='{{getImagen(grupo)}}' style="padding: 0px 10px 0px 0px">{{grupo.description}}</div>
            <br>
            <div class="footer" style="text-align: left">{{grupo.comment}} </div>
            <i class="icon ion-ios-arrow-right flecha"></i>
          </div>
        </div>

        <footer></footer>
      </ion-content>
    </ion-view>
  </script>

  <script type="text/ng-template" id="ryc.html">
    <ion-view title="{{header}}" cache-view="false">
      <ion-content style=" background-color:rgb(244,244,244)">
        <div class=" item-thumbnail-left header"style="height: 80pt; background-color:rgb(90,190,231); word-wrap:break-word!important;line-height: 20pt">
          {{titulo}}
          <img ng-src="{{imagen}}">
          <br>
          {{total() | currency}}

        </div>


        <div class="list list-inset" style=" margin:20px 0px 0px 0px;border-bottom: none">
          <div  id= "l"class="item item-icon-right" ng-click="goBack()" style="padding: 10px;border: none">
            <div style="padding: 0px 0px 0px 0px; margin:0px 0px -15px 0px" class="opciones">
              <img id= 'im' ng-src='{{getImagen(grupos)}}' style="padding: 0px 10px 0px 0px">
              {{grupos.description}}
            </div>
            <br>

            <div class="footer" style="text-align: left">{{grupos.comment}} </div>
            <i class="icon ion-ios-arrow-right flecha"></i>
          </div>
        </div>
        <div class="opciones"style="height: 40pt;background-color:rgb(244,244,244);vertical-align: middle; font-size: 16pt;line-height: 40pt; border-bottom: 2pt;border-bottom-color: rgb( 222,222,222);  border-style:solid; text-align: center;font-weight: 200;word-spacing-spacing: 1.5px">Total a pagar: {{total()| currency}}</div>
        <br>
        <div class="copy" style="padding: 0px 20px"><p>    Al pagar, afirmo que soy mayor de edad y acepto los <a class="link">Términos y Condiciones</a> de MercadoPago.</p></div>
        <div style="padding: 0px 10px 0px 10px">
          <button class="button button-block button-positive pagar" style="background-color:rgb(0,159,222)" ng-click="pagar()">
            Pagar
          </button></div>

          <footer></footer>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="instru.html">
      <ion-view title="{{header}}">
        <ion-view hide-nav-bar='true'>
          <ion-content style=" background-color:rgb(244,244,244)">
            <div style="height: 120pt; background-color:rgb(251,248,225);border-bottom: 2pt;border-bottom-color: rgb( 222,222,222); border-style:solid;line-height: 22pt;text-align: center;padding: 10px 16pt 50pt 16pt;" class="textoinstru">
              <i class="icon ion-social-usd pesos" style="color:rgb(239,199,1); margin:0pt 0pt 5pt 0pt"></i>
              <br class="textoinstru">
              Paga {{total() | currency}} desde tu banca en línea de BBVA Bancomer

            </div>

            <div class="card">
              <div class="item item-text-wrap opciones" style="text-align: left;width:100%;display:inline-block;border: none">

                Elige Pago de servicios a MercadoLibre.
                <br class="textoinstru">
                <br>
                <div class="copy"style="font-weight: 200; text-align: left;">NÚMERO DE CONVENIO</div>
                <div class="textoinstru"style="text-align: left; letter-spacing: 2.5px;">{{numConvenio}}</div>
                <br>
                <div class="copy"style="font-weight: 200; text-align: left;">REFERENCIA</div>
                <div class="textoinstru"style="text-align: left; letter-spacing: 2.5px;">{{numReferencia}}</div>
                <br>
                <br>
                <button class="button button-outline button-positive" style=" -webkit-tap-highlight-background-color: rgb(0,0,0,0);    height:18pt;
                width:80px;
                margin: -20px -100px;
                position:relative;
                top:50%;
                left:50%; width:200px;text-align: center; font-size: 12pt;color: rgb(0,159,222); border-color:rgb(0,159,222);">
                Ir a banca en línea
              </button>
              <br>
              <br>
            </div>
            <div class="item item-text-wrap opciones" style=" background-color:rgb(244,244,244); text-align: left;">
              ¿Prefieres transferir desde tu computadora o tablet?
              <div class="copy">
                <br>
              </div>

              <div style="font-weight: 200">Te enviamos un e-mail para que puedas hacerlo desde tu correo.</div>
            </div>
            <div class="item item-text-wrap texto item-icon-left amarillo" style=" background-color:rgb(244,244,244); text-align: left;border-style: none; color:rgb(178,144,84);font-weight: 200">
              <i>Se acreditará en menos de 1 hora.</i>
              <i class="icon ion-ios-clock-outline amarillo"></i>

            </div>
          </div>
          <button ng-click="volver()">volver</button>
          <footer></footer>
        </ion-content>
      </ion-view>
    </script>

    <!-- <script type="text/ng-template" id="congrats.html">
    <ion-view title="{{header}}">
    <ion-view hide-nav-bar='true'>
    <ion-content style=" background-color:rgb(244,244,244)">
    <div class="textoinstru" style=" background-color:rgb(228,242,249);border-bottom: 2pt;border-bottom-color: rgb(222,222,222); border-style:solid;line-height: 28pt;text-align: center;padding: 10px 16pt 16pt 16pt;color:rgb(102,102,102)!important;font-size:18pt!important" class="textoinstru">
    <i class="icon ion-android-call tic" style="color:rgb(57,135,173); margin:0pt 0pt 5pt 0pt"></i>
    <br class="textoinstru">
    Debes autorizar ante Visa el pago de {{total | currency}} a MercadoPago
    <br class="textoinstru">
    <div class="textoinstru" style="line-height: 15pt; font-size: 11pt!important; font-weight: 300!important; padding: 10px 30px; color:rgb(102,102,102)">El teléfono está al dorso de tu tarjeta.</div>

  </div>
  <br>
  <br>
  <div class='footer'><a class='link' ng-click='Salir()'>Ya hablé con Visa y me autorizó</a></div>
  <br>
  <div class='footer' style="padding: 10px 0">¿No pudiste autorizarlo?</div>
  <div class='footer' style="line-height: 15pt;"><a class='link' ng-click='Salir()'>Elige otro medio de pago</a></div>
  <br>

  <footer></footer>
</ion-content>
</ion-view>
</script> -->
<!-- <script type="text/ng-template" id="congrats.html">
<ion-view title="{{header}}">
<ion-view hide-nav-bar='true'>
<ion-content style=" background-color:rgb(244,244,244)">
<div class="textoinstru" style=" background-color:rgb(248,233,233);border-bottom: 2pt;border-bottom-color: rgb(222,222,222); border-style:solid;line-height: 35pt;text-align: center;padding: 10px 16pt 16pt 16pt;color:rgb(185,74,72)!important;font-size:18pt!important" class="textoinstru">
<i class="icon ion-android-cancel tic" style="color:rgb(153,6,1); margin:0pt 0pt 5pt 0pt"></i>
<br class="textoinstru">
Mastercard no procesó el pago
<br class="textoinstru">
<div class="textoinstru" style="line-height: 15pt; font-size: 11pt!important; font-weight: 300!important; padding: 10px 30px; color:rgb(102,102,102)">Usa otra tarjeta u otro medio de pago.</div>

</div>
<br>
<br>
<button class="button button-outline button-positive" style="background-color:rgb(255,255,255); -webkit-tap-highlight-background-color: rgb(0,0,0,0);    height:18pt;

margin: -20px -115px;
position:relative;
top:40%;
left:50%; width:220px;text-align: center; font-size: 12pt;color: rgb(0,159,222); border-color:rgb(0,159,222);">
Usar otro medio de pago
</button>

<footer></footer>
</ion-content>
</ion-view>
</script>
<script type="text/ng-template" id="congrats.html">
  <ion-view title="{{header}}">
    <ion-view hide-nav-bar='true'>
      <ion-content style=" background-color:rgb(244,244,244)">
        <div style=" background-color:rgb(234,255,225);border-bottom: 2pt;border-bottom-color: rgb( 222,222,222); border-style:solid;line-height: 28pt;text-align: center;padding: 10px 16pt 16pt 16pt;" class="textoinstru">
          <i class="icon ion-checkmark-circled tic" style="color:rgb(47,176,0); margin:0pt 0pt 5pt 0pt"></i>
          <br class="textoinstru">
          ¡Listo, se acreditó tu pago!
          <div class="texto" style="line-height: 15pt; font-size: 11pt!important; font-weight: 300!important; padding: 5px 30px; color:rgb(102,102,102)">Te enviaremos los datos a juan-carlos@email.com</div>

        </div>

        <div class="card" style="margin:0px 0px 0px 0px">
          <div class="item item-text-wrap textoinstru " style="text-align: left;width:100%;display:inline-block; border-bottom: 2pt;border-bottom-color: rgb( 222,222,222); border-style:solid;">
            <img id= 'im' ng-src='{{imagen}}' style="padding: 0px 10px 0px 0px">
            terminada en 5676

            <br class="textoinstru">
            <br>
            <div class="textoinstru"style="font-weight: 200; text-align: left;color:rgb(0,159,222)!important">6 de {{total | currency}}  <i class="texto" style="color:rgb(67,176,0);text-align: left;">Sin intereses</i></div>

            <br>
            <div class="texto"style="text-align: left;  color:rgb(102,102,102)">En tu estado de cuenta verás el cargo como MERCADOPAGO.</div>

          </div>
        </div>
        <div class="item item-text-wrap texto" style=" text-align: center;border-style: none;font-weight: 200;color: rgb(102,102,102); border-bottom: 2pt;border-bottom-color: rgb( 222,222,222); border-style:solid;">
          <i>Comprobante: 234534678532</i>

        </div>
      </div>
      <footer></footer>
    </ion-content>
  </ion-view>
</script>

<script type="text/ng-template" id="card_issuers.html">
  <ion-view title="Selecciona el banco">
    <ion-content>
      <div class="list">
        <div class="item" ng-repeat="cardIssuer in cardIssuers" ng-click="selectedCardIssuer(cardIssuer)">
          <img src="{{cardIssuer.thumbnail}}" width="50" height="19" style="margin-right: 20px;">{{cardIssuer.name}}
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>


<script type="text/ng-template" id="installments.html">
  <ion-view title="Selecciona las cuotas">
    <ion-content>
      <div class="list">
        <div class="item" ng-repeat="installment in installments.payer_costs" ng-click="selectedInstallment(installment)">{{installment.recommended_message}}
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>

<script type="text/ng-template" id="card_form.html">
  <ion-view title="Datos de tu tarjeta">
    <ion-content class="has-header" animation="slide-left-right"  scroll="true" has-bouncing="true">
      <form ng-submit="createToken()" ng-controller="CardFormCtrl" >
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Card Number</span>
            <img ng-show="mostrarIcono"ng-src='{{keyPress().thumbnail}}'style="padding: 0px 10px">
            <input type="number" id="cardNumber" ng-model="card_token.card_number" ng-keyup="keyPress($event.keyCode)" placeholder="4509 9535 6623 3704">
          </label>
          <label class="item item-input">
            <span class="input-label">Cardholder Name</span>
            <input type="text" id="cardholderName" ng-model="card_token.cardholder.name" placeholder="APRO">
          </label>
          <label class="item item-input">
            <span class="input-label">Expiration Month</span>
            <input type="number" id="cardExpirationMonth" ng-model="card_token.expiration_month" placeholder="MM AAAA">
          </label>
          <label class="item item-input">
            <span class="input-label">Expiration Year</span>
            <input type="number" id="cardExpirationyear" ng-model="card_token.expiration_year" placeholder="MM AAAA">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">Document Type</div>
            <select id="docType" ng-model="card_token.cardholder.identification.type">

              <option ng-repeat="identification_type in identification_types">{{identification_type.name}}</option>
              <option selected>Seleccionar</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Document number</span>
            <input type="number" id="docNumber" ng-model="card_token.cardholder.identification.number" placeholder="12345678">
          </label>
          <label class="item item-input">
            <span class="input-label">Security Code</span>
            <input type="number" id="securityCode" ng-model="card_token.security_code" placeholder="123">
          </label>
          <center><button type="submit" class="button   button-balanced" style="padding:0px 100px;">
            Pagar
          </button></center>
        </div>
      </form>
    </ion-content>
  </ion-view>
</script> -->


</body>
</html>
