<!DOCTYPE html>
<html>
  <head>
    <style type="text/css"></style>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>

    <script src="js/integrador.js"></script>
    <script src="js/MercadoPagoHibrido.js"></script>

  </head>

  <body ng-app="integrador">

    <ion-nav-bar class='MpBarra bar-positive '  >
     <ion-nav-back-button class="button-clear">
      <i class="ion-ios-arrow-back carrito"></i>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <i class="ion-ios-cart-outline carrito" style="padding: 5px" ng-click="MpShowPrefId()"></i>
    </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script type="text/ng-template" id="integrador.html">

      <ion-view title="{{header}}" class"header" cache-view="false">
        <ion-nav-bar class='bar-positive'><ion-nav-title>{{header}}</ion-nav-title><ion-nav-buttons side='right'><i class='ion-ios-cart-outline carrito' style='padding: 5px' ng-click='MpShowPrefId()'></i></ion-nav-buttons><ion-nav-back-button class='button-clear' ng-show='no'><i class='ion-ios-arrow-back carrito'></i></ion-nav-back-button></ion-nav-bar>
        <ion-content style=" background-color:rgb(244,244,244)">

          <button class="button button-full button-positive" ng-click="pay()">Pagar</button><br>

        </ion-content>
      </ion-view>
    </script>



    <script type="text/ng-template" id="payment_methods.html">
      <ion-view title="Selecciona el medio de pago">
        <ion-content class="has-header" animation="slide-left-right" scroll="true" has-bouncing="true">
          <div class="list">
            <div class="item" ng-repeat="paymentMethod in paymentMethods" ng-click="selectedPaymentMethod(paymentMethod)">
              <img src="{{paymentMethod.thumbnail}}" width="29" height="19" style="margin-right: 20px;">{{paymentMethod.name}}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="card_issuers.html">
      <ion-view title="Selecciona el banco">
        <ion-content class="has-header" animation="slide-left-right"  scroll="true" has-bouncing="true">
          <div class="list">
            <div class="item" ng-repeat="cardIssuer in cardIssuers" ng-click="selectedCardIssuer(cardIssuer)">
              <img src="{{cardIssuer.thumbnail}}" width="50" height="19" style="margin-right: 20px;">{{cardIssuer.name}}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>


    <script type="text/ng-template" id="installments.html">
      <ion-view title="Selecciona las cuotas">
        <ion-content class="has-header" animation="slide-left-right" scroll="true" has-bouncing="true">
          <div class="list">
            <div class="item" ng-repeat="installment in installments" ng-click="selectedInstallment(installment)">{{installment.recommended_message}}
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>


    <script type="text/ng-template" id="card_form.html">
      <ion-view title="Datos de tu tarjeta">
        <ion-content class="has-header" animation="slide-left-right" padding="true" scroll='true' has-bouncing="true">
          <form ng-submit="createToken()" ng-controller="CardFormCtrl" >
            <div class="list">

              <label class="item item-input">
                <span class="input-label">Cardholder Name</span>
                <input type="text" id="cardholderName" ng-model="card_token.cardholder.name" placeholder="APRO">
              </label>
              <label class="item item-input">
                <span class="input-label">Card Number</span>
                <input type="number" id="cardNumber" ng-model="card_token.cardNumber" placeholder="4509 9535 6623 3704">
              </label>

              <label class="item item-input">
                <span class="input-label">Expiration Month</span>
                <input type="number" id="cardExpirationMonth" ng-model="card_token.expirationMonth" placeholder="MM">
              </label>
              <label class="item item-input">
                <span class="input-label">Expiration Year</span>
                <input type="number" id="cardExpirationYear" ng-model="card_token.expirationYear" placeholder="AAAA">
              </label>
              <label class="item item-input item-select">
                <div class="input-label">Document Type</div>
                <select id="docType" ng-model="card_token.cardholder.identification.type" ng-options=" identification_type.name for identification_type in identification_types">
                  <option value="">Seleccionar</option>
                </select>
              </label>
              <label class="item item-input">
                <span class="input-label">Document Number</span>
                <input type="number" id="docNumber" ng-model="card_token.cardholder.identification.number" placeholder="12345678">
              </label>
              <label class="item item-input">
                <span class="input-label">Security Code</span>
                <input type="number" id="securityCode" ng-model="card_token.securityCode" placeholder="123">
              </label>
              <button type="submit" class="button button-full button-balanced">
                Pagar
              </button>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script type="text/ng-template" id="payment_result.html">
      <ion-view title="{{title}}" >
        <ion-content class="has-header" animation="slide-left-right" padding="true" scroll="true" has-bouncing="true" ng-style="{'text-align':'center', 'background-color': background_color}">
          <br />
          <br />
          <i class="{{icon}}" style="color: white; font-size: 150px;"></i>
          <br />
          <br />
          <br />
          <span style="margin-top: 40px; color: white; font-size: 30px;">{{message}}</span>
          <br />
          <br />
          <br />
          <button type="submit" ng-click="close()" ng-style="{'background-color': background_color}" class="button button-full">Salir</button>
        </ion-content>
      </ion-view>
    </script>

</body>
</html>
